.loaderContainer {

  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.svgWrapper {
  width: 100%;
  height: 100%;
  display: block;
  fill: none;
}