@use "@styles/variables" as *;
@import "@styles/icons";

.header {
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 30px 108px 80px 108px;
  gap: 80px;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 101px;
  color: $secondary;
  margin: 0;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  color: $primary;
  font-size: 22px;
  margin: 0;
}

.avatar {
  height: 600px;
  width: 700px;
  border-radius: 16px;
}

.contract {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 180px;
  height: 40px;
  border-radius: 16px;
  background-color: #d3e97a;
  text-decoration: none;
  font-size: 18px;
}

//@mixin mask($url) {
//  mask: url($url) no-repeat center / contain;
//}
//
//@mixin icon($url) {
//  @include mask($url);
//  display: inline-block;
//  width: 16px;
//  height: 16px;
//  background-color: white;
//}

.github {
  //@include icon('../../../../public/github.svg');
  background-color: $primary;
  //background-image: url("../../../../public/github.svg");
  width: 20px ;
  height: 20px;
}
