* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  width: 100%;
  height: 100%;
  background-color: #0a192f;
}

body {
  font-family:
    Bebas Neue,
    Roboto, Roboto Mono,
    sans-serif;
  display: flex;
  justify-content: center;
}
