.topbar{
  display: flex;
  justify-content: space-between;
  padding: 24px 60px;
  height: 96px;
  align-items: center;
}

.title{

  font-size: 32px;
  margin: 0;
  color: white;
}

.navigation{
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.navBtn{
  background:none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    background-color: #5e6064;
  }
}